html {
  font-size: 18px;
  max-width: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: .25rem;
  background-color:#f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3 {
  border-bottom: 2px solid #fafafa;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}

blockquote {
  border-left: 8px solid #5c940d;
  padding: 1rem; 
  background:	#e9fac8;
}

pre,
code {
  background-color: #fafafa;
}
a {
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  /* Invert all elements on the body while attempting to not alter the hue substantially. */
  body {
    filter: invert(100%) hue-rotate(180deg);
    background:black;
  }
}
